In [14]:
import pandas as pd

In [15]:
%cd ..
%cd data

esg_df = pd.read_csv('country_esg_scores.csv')
esg_df.head()

/Users/jamiewong/Documents/esg-financial-assistant
/Users/jamiewong/Documents/esg-financial-assistant/data

   Unnamed: 0 Country Name  ESG Score
0          17       Norway   3.267407
1          23       Sweden   3.256376
2           4      Denmark   3.161803
3          16  New Zealand   2.838591
4           6      Germany   2.788788

In [16]:
bonds_df = pd.read_csv('yields.csv')
bonds_df.head()

,time,AU01,AU02,AU03,AU05,AU07,AU10,AU15,AU20,AU30,...,US03M,US06M,US01,US02,US03,US05,US07,US10,US20,US30
0,957533400000,6.28,6.34,6.460,6.52,0.0,6.56,6.56,0.0,0.0,...,5.899,5.910,0.0,6.784,4.557,6.692,0.0,6.511,0.0,6.157
1,957792600000,6.26,6.34,6.415,6.52,0.0,6.56,6.49,0.0,0.0,...,5.899,5.910,0.0,6.784,4.557,6.692,0.0,6.568,0.0,6.157
2,957879000000,6.34,6.38,6.500,6.54,0.0,6.55,6.55,0.0,0.0,...,5.984,6.031,0.0,6.872,4.557,6.827,0.0,6.524,0.0,6.248
3,957965400000,6.24,6.34,6.390,6.51,0.0,6.54,6.50,0.0,0.0,...,6.115,6.140,0.0,6.851,4.557,6.788,0.0,6.457,0.0,6.216
4,958051800000,6.22,6.26,6.374,6.42,0.0,6.41,6.42,0.0,0.0,...,6.083,6.104,0.0,6.804,4.557,6.668,0.0,6.420,0.0,6.154

In [17]:
bonds_df.dtypes

time      int64
AU01    float64
AU02    float64
AU03    float64
AU05    float64
         ...
US05    float64
US07    float64
US10    float64
US20    float64
US30    float64
Length: 216, dtype: object

In [18]:
to_drop = [col for col in bonds_df.columns if col.startswith('HK') or col.startswith('TW')]
bonds_df.drop(to_drop, axis = 1, inplace = True)
bonds_df.shape

(12787, 205)

In [21]:
bonds_df = bonds_df.T.copy()
bonds_df.head()

,0,1,2,3,4,5,6,7,8,9,...,12777,12778,12779,12780,12781,12782,12783,12784,12785,12786
time,9.575334e+11,9.577926e+11,9.578790e+11,9.579654e+11,9.580518e+11,9.581382e+11,9.583974e+11,9.584838e+11,9.585702e+11,9.586566e+11,...,1.020906e+11,1.021770e+11,1.022634e+11,1.023498e+11,1.026090e+11,1.026954e+11,1.027818e+11,1.028682e+11,1.029546e+11,1.032138e+11
AU01,6.280000e+00,6.260000e+00,6.340000e+00,6.240000e+00,6.220000e+00,6.243000e+00,6.320000e+00,6.280000e+00,6.360000e+00,6.330000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
AU02,6.340000e+00,6.340000e+00,6.380000e+00,6.340000e+00,6.260000e+00,6.260000e+00,6.340000e+00,6.310000e+00,6.390000e+00,6.450000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
AU03,6.460000e+00,6.415000e+00,6.500000e+00,6.390000e+00,6.374000e+00,6.374000e+00,6.446000e+00,6.410000e+00,6.470000e+00,6.553000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
AU05,6.520000e+00,6.520000e+00,6.540000e+00,6.510000e+00,6.420000e+00,6.420000e+00,6.490000e+00,6.450000e+00,6.500000e+00,6.580000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00

In [22]:
bonds_df.to_csv('/Users/jamiewong/Documents/esg-financial-assistant/data/yields_cleaned.csv')